
.field-uppercase{
     text-transform: uppercase;
}


.qps-img{
    height: 150px;
    width: 150px;
}

.qps-bg-title{
    color: white;
    background-color:black;
}

div.o_notebook > ul.nav.nav-tabs {
    overflow: auto;
    white-space: nowrap;
}
div.o_notebook > ul.nav.nav-tabs > li {
    display: inline-block;
   float: none !important;
   margin-bottom: none !important;
 }
